<h1>GeneralShoppingLists#index</h1>
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
    <td> <%=  %> </td>
    </tbody>
    </table>
