  <%
=begin%>
 <div class="card mb-3" style="max-width: 540px;">
    <div class="row">
      <div class="col-md-4 p-5">
        <h5 class="card-title"><%= @recipes.name %></h5>
        <a href="#" class="btn btn-primary">REMOVE</a>
      </div>
      <div class="col-md-8 py-5">
        <div class="card-body py-0">
          <p class="card-text"><%= @recipes.preparation_time %></p>
        </div>
      </div>
    </div>
  </div> 
<%
=end%>

