<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>
<a href="#" class="btn btn-primary my-5">Create Your Recipe</a>
<% @recipes.each do |recipe| %>
<%= link_to recipe_path(recipe.id) do %>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row">
      <div class="col-md-4 p-5">
        <h5 class="card-title"><%= recipe.name %></h5>
        <a href="#" class="btn btn-primary">REMOVE</a>
      </div>
      <div class="col-md-8 py-5">
        <div class="card-body py-0">
          <p class="card-text"><%= recipe.description %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
